.body {
  /*background-image: url(grid.jpg);
  background-repeat: repeat-y;
  background-position: center;*/
  background-color: #004876;
}
.above-the-fold {
  width: 100%;
  height: 100vh;
  background-image: url(../images/DomCologne3.png);
  background-repeat: no-repeat;
  background-position-x: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #0000ff;
  margin-top: 3em;
  margin-bottom: 3em;
  color: #ffffff;
}
.above-the-fold .container {
  position: absolute;
  top: 0;
  text-align: center;
  background-color: transparent;
}
.above-the-fold .container h1 {
  font-size: 7em;
}
.above-the-fold .container .btn-outline-secondary {
  border-radius: 0;
  border-color: #ffffff;
  color: #ffffff;
  margin: 3px, solid;
}
.about {
  background-color: #004876;
}
.about .info-text {
  background-color: transparent;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}
.about .image {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 80%;
}
.about .info-picture {
  width: 100%;
  height: 100%;
}
.schedule {
  background-color:#004876;
  text-align: center;
}
.schedule .row .col{
  display: flex;
  align-items: center;
  justify-content: center;
}
.schedule .table {
  width: 80%;
  margin:1em;
  border-radius: 0;
  background-color: #004876;
  border-color: #ffffff;
  padding:1em;
}
.schedule .table .card-header{
  border-color:#ffffff;
}
.schedule .table .list-group-item {
  background-color: #004876;
  border-color: #ffffff;
  text-align: left;
}
.schedule .link{
  color: #000000;
}
.sponsors {
  background-color: #004876;
  text-align: center;
}
.sponsors .card {
  border-radius: 0;
  border-color:#ffffff;
  margin-top:1em;
  margin-bottom: 1em; 
  background-color: transparent;
  margin-top: 1em;
  text-align: center;
}

.sponsors a {
  color: #ffffff;
}
.location {
  background-color: #008000;
  margin-top: 3em;
  padding-right: 0;
  padding-left: 0;
}

.map {
  background-color: #660033;
  height: 20em;
  width: 100%;
}
.footer {
  background-color: #ffff00;
}
.footer-text {
  background-color: #66ff33;
}
