body {
  /* background-image: url(grid.jpg);
  background-repeat: repeat-y;
  background-position: center; */
  background-color: #123244;
}

.headroom {
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.4);
}

.headroom--unfixed {
  position: fixed;
  transform: translateY(0);
}

.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}

.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}

.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}

.headroom .container {
  padding-top: 0.5em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.headroom .container .text-right {
  align-self: right;
}
.headroom .nav-link {
  display: inline;
  color: white;
  font-size: 1.2em;
}

.headroom .nav-image {
  width: 30px;
}

.above-the-fold {
  /* background-image: url(../images/DomCologne3.png);
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-size: cover; */
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  /* background-color: #0000ff; */
  margin-top: 6em;
  margin-bottom: 3em;
  color: #fff;
}

.above-the-fold .full-width-image-container {
  flex: 1;
  align-self: normal;
}

.above-the-fold .container {
  position: absolute;
  top: 1em;
  background-color: transparent;
  text-align: left;
}

.above-the-fold .container h1 {
  font-size: 7em;
}

.above-the-fold .container a {
  color: #fff;
}

.above-the-fold .container .btn-outline-secondary,
.button .btn-outline-secondary {
  margin-top: 3em;
  border-color: #fff;
  border-radius: 0;
  color: #fff;
}

.above-the-fold .btn-comment {
  margin-top: 0.5em;
  color: rgb(255, 255, 255, 0.5);
}

.about {
  margin-top: 5em;
  background-color: #123244;
}

.about .info-text {
  width: 100%;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: transparent;
}

.about .image {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.about .info-picture {
  width: 100%;
  height: 100%;
}

.about .row {
  margin-top: 1em;
  margin-bottom: 1em;
}

.schedule {
  background-color: #123244;
  text-align: center;
}

.schedule h1 {
  margin-top: 2em;
  margin-bottom: 1em;
}

.schedule .row .col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.schedule .table {
  width: 80%;
  padding: 1em;
  margin: 1em;
  background-color: #123244;
  border-color: #fff;
  border-radius: 0;
}

.schedule .heading {
  color: #fff;
  font-size: 1.5em;
}

.schedule .table .card-header {
  border-color: #fff;
}

.schedule .table .list-group-item {
  background-color: #123244;
  border-color: #fff;
  text-align: left;
}

.schedule .infos {
  margin-top: 1.5em;
}

.sponsors {
  background-color: #123244;
  text-align: center;
}

.sponsors h1 {
  margin-top: 2em;
  margin-bottom: 0;
}

.sponsors .card {
  border: 0;
  margin-top: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: transparent;

  /* border-radius: 0; */
  border-color: #fff;
  text-align: center;
}

.sponsors .card .card-img-top {
  width: 150px;
  align-self: center;
  -webkit-filter: grayscale(100%);
}

.sponsors .card .card-img-top:hover {
  cursor: pointer;
  -webkit-filter: grayscale(0%);
}

.sponsors a {
  color: #fff;
}

.sponsors .sponsor-btn {
  margin-top: 0;
  margin-bottom: 3em;
}

.sponsors .btn {
  padding: 0.5em;
}

.button {
  text-align: center;
}

.reg-now {
  background-color: rgb(0, 0, 0, 0.4);
}

.reg-now .btn {
  width: 12em;
  margin-top: 3em;
  margin-bottom: 3em;
}

.location {
  height: 70vh;
  max-height: 500px;
  padding-right: 0;
  padding-left: 0;
  /* background-color: #1d721a; */
  margin-top: 0;
}

.map {
  width: 100%;
  height: 100%;
}

.footer {
  padding-bottom: 2em;
  margin-bottom: 0;
  background-color: rgb(0, 0, 0, 0.4);
}

.footer .container {
  margin-top: 0;
  margin-bottom: 0;
}

.footer-text {
  margin-top: 2em;
}

.footer .soc-media img {
  width: 2em;
  margin-right: 0.5em;
}

.footer .soc-media .mail {
  width: 1.8em;
}

.footer-text a {
  color: #fff;
}

.imprint {
  color: #fff;
  text-align: center;
}

@media (max-width: 1200px) {
  .above-the-fold {
    background-position-x: 70%;
  }
}

@media (max-width: 992px) {
  .above-the-fold .container h1 {
    font-size: 5em;
  }
}

@media (max-width: 768px) {
  .above-the-fold .container h1 {
    font-size: 4em;
  }
}

@media (max-width: 576px) {
  .above-the-fold {
    /* background-image: url(../images/DomCologne-sm.png); */
  }

  .above-the-fold .container h1 {
    font-size: 2.5em;
  }

  .above-the-fold {
    background-position-x: 70%;
  }

  .above-the-fold .container h3 {
    font-size: 1em;
  }

  .above-the-fold .btn-comment {
    font-size: 0.7em;
  }

  .above-the-fold .container {
    margin-top: 0;
  }
}

@media (max-height: 768px) {
  .above-the-fold .container {
    margin-top: 0;
  }

  .above-the-fold .container .btn {
    margin-top: 0.5em;
  }
}
